@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.login .F1{
color: blueviolet;
}
.login .F2{
    color: rgb(139, 139, 139);
    }
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    height: 100vh;           
    width: 100vw;
}
.login>h3{
    margin-top: 40px;
    color: blueviolet;
    font-size: large;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100vh;           
    width: 100vw;

}
.login >img{
    max-width: 100%;        
    max-height: 100%;        
    object-fit: contain;

}
.login_text{
    margin-top: 10px;
    padding: 20px;
}
.login>h1{
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}
.login>Button:hover{
    background-color: rgb(139, 139, 139);
    color: #ffff;
    
.G{
    color: yellow;
}
.O{
    color: blue;
}
.O2{
    color: red;
}
.G2{
    color: black;
}
.L{
color: violet;
}
.E{
    color: green;
}
}
.login>Button{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}